body{
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}



/*
.dP"Y8 88 8888b.  888888 88""Yb    db    88""Yb
`Ybo." 88  8I  Yb 88__   88__dP   dPYb   88__dP
o.`Y8b 88  8I  dY 88""   88""Yb  dP__Yb  88"Yb
8bodP' 88 8888Y"  888888 88oodP dP""""Yb 88  Yb
*/

#sidebar.active {
    margin-left: -300px;
}
.mobileactive {
      position: fixed;
    z-index: 1;
    height: 100vh;
    margin-left: 0px !important;

}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

.menu-btn-color
{
	background: #293042;
    color: #fff;
}

#sidebar{
	min-width: 300px;
	max-width: 300px;
	background: #293042;
	color: #fff;
	transition: all 0.3s;
    /* position: fixed;
    z-index: 300 !important;
    height: 100vh; */
}

#content{
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
}
.small-titles
{
    color:rgb(201, 201, 201);
    font-size:14px;
}
.icon-size 
{
    font-size: 19px;
}
.accord-list , .submenu-color
{
    background-color: #293042 ;
    border:none;
}
.accord-items
{
    width: 80%;
    margin: auto;
}
.btn-focus:focus
{
    background-color: #293042 ;
    color:white;
    border-color:none;
    box-shadow: none;
}
.badge-style
{
    width: 18%;
    height: 10%;
    font-size: 10px;
}
.dropdown-text
{
    font-size: 14px;
    color:gray;
}
.message-icon:hover .hover-number
{
    margin-top: -4px;
    transition: margin-top .1s;
}

@media (max-width: 990px) {
    #sidebar {
        margin-left: -300px;

    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


/*
 dP""b8  dP"Yb  88b 88 888888 888888 88b 88 888888
dP   `" dP   Yb 88Yb88   88   88__   88Yb88   88
Yb      Yb   dP 88 Y88   88   88""   88 Y88   88
 YboodP  YbodP  88  Y8   88   888888 88  Y8   88
*/


.input-text 
{
    font-size: 13px;
    padding: 12px 23px;
    color: gray;
}
.form-control:focus , .toogle-icon-btn:focus
{
    box-shadow: none;   
 
}
.toogle-icon-btn
{
    font-size: 22px;
    box-shadow: none;
}
.dropdown-toggle
{
    font-size: 14px;
    color:gray;
    font-weight: 400;
}
.dropdown-toggle:focus
{
    box-shadow: none;
}
.drowpdown-width
{
    padding:5px 25px;
    min-width: 40rem;
}
.dropdown-title
{
    font-size: 12px;
    color: rgb(151, 151, 151);
}
.dropdown-headings
{
    font-size: 14px;
    padding: 3px;
    margin: 14px 0px;
    color: rgb(83, 83, 83);
}

.dropdown-headings:hover{
    background-color: rgb(235, 235, 235);
}
.message-icon
{
    font-size: 18px;
    
}
.badge-text
{
    font-size: 12px;
}
.icon-spacing
{
    padding: 0.375rem 0.75rem;
}


/*
 dP""b8  dP"Yb  88b 88 888888 888888 88b 88 888888          88""Yb  dP"Yb  8888b.  Yb  dP
dP   `" dP   Yb 88Yb88   88   88__   88Yb88   88   ________ 88__dP dP   Yb  8I  Yb  YbdP
Yb      Yb   dP 88 Y88   88   88""   88 Y88   88   """""""" 88""Yb Yb   dP  8I  dY   8P
 YboodP  YbodP  88  Y8   88   888888 88  Y8   88            88oodP  YbodP  8888Y"   dP
*/

.content-div 
{
    padding:30px ;
}
.btn-colors 
{
    background-color: #3f80ea;
}
.btn-size
{
    padding:3px 8px;
}

.price-title
{
    font-size: 22px;
    font-weight: 400;
    color: #495057;
}
.card-text
{
    font-size: 14px;
    color: #999999;
}
.card-first-div
{
    /* background-color:#3f80ea ; */
    background-color: #e0eafc;

}
.card-span-text
{
    font-size: 14px;
    color: #999999;
    margin:0px;
    padding: 18px 0px;
}

.span-text-style
{
    background-color: rgba(75,191,115,.175);
    color: #4bbf73;
    font-size: 11px;
    padding: 3px;
}
.img-align 
{
    vertical-align: inherit;
}
.card-1-title , .card-1-title-text ,.card-1-text
{
    color: #82abf8;

}
.card-1-text
{
    font-size: 14px;
    padding: 18px 0px;
}
.span-text-style-danger
{

    font-size: 11px;
    padding: 3px;
    background-color: rgba(217,83,79,.175);
    color: #d9534f;
}

.icon-background  
{
    color: #e0eafc;
}
.fa-stack-1x
{
    font-size: 20px;
}


/*
888888 888888 888888 8888b.      .dP"Y8 888888  dP""b8 888888 88  dP"Yb  88b 88
88__   88__   88__    8I  Yb     `Ybo." 88__   dP   `"   88   88 dP   Yb 88Yb88
88""   88""   88""    8I  dY     o.`Y8b 88""   Yb        88   88 Yb   dP 88 Y88
88     888888 888888 8888Y"      8bodP' 888888  YboodP   88   88  YbodP  88  Y8
*/


.feed-section
{
    color: #495057;
    font-size: .95rem;
    font-weight: 600;
}
.time-div
{
    margin-top: -3px !important;
}
.time-div-text
{
    font-size: 80%;
    color: gray;
    white-space: nowrap;
    
    
}

.daily-feed-text
{
    font-size: 15px;
    color:rgb(134, 134, 134)
}
.daily-feed-text > strong
{
    color: black;
}
.daily-feed-time 
{
    font-size: 14px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 0px;
}
.card-text-body
{
    font-size: 85%;
    color:gray;
}
hr 
{
    background-color: rgb(131, 131, 131);
}


/*
Yb        dP 888888 888888 88  dP 88     Yb  dP     .dP"Y8    db    88     888888 .dP"Y8     .dP"Y8 888888  dP""b8 888888 88  dP"Yb  88b 88
 Yb  db  dP  88__   88__   88odP  88      YbdP      `Ybo."   dPYb   88     88__   `Ybo."     `Ybo." 88__   dP   `"   88   88 dP   Yb 88Yb88
  YbdPYbdP   88""   88""   88"Yb  88  .o   8P       o.`Y8b  dP__Yb  88  .o 88""   o.`Y8b     o.`Y8b 88""   Yb        88   88 Yb   dP 88 Y88
   YP  YP    888888 888888 88  Yb 88ood8  dP        8bodP' dP""""Yb 88ood8 888888 8bodP'     8bodP' 888888  YboodP   88   88  YbodP  88  Y8
*/

.dropdown-weekly-sales
{
    text-decoration: none;
    color: gray;
    font-size: 18px;
}
.dropdown-weekly-sales:hover
{
    text-decoration: none;
    color: gray;

}
.table-text-style{
    color:#a7a7a7; 
    font-size: 14px;
    font-weight: 600;
}

.text-succss
{
    color: #71ff7dcf;
}


/* progressbar div */

.chat-title 
{
    font-size: 15px;
    padding:0px 0px;
}

.chat-time
{
    font-size: 13px;
    color: rgb(189, 189, 189);
    padding:0px 10px;

}
.chat-detail
{
    font-size: 13px;
    color: rgb(141, 141, 141);

}



/*
888888    db    88""Yb 88     888888     .dP"Y8 888888  dP""b8 888888 88  dP"Yb  88b 88
  88     dPYb   88__dP 88     88__       `Ybo." 88__   dP   `"   88   88 dP   Yb 88Yb88
  88    dP__Yb  88""Yb 88  .o 88""       o.`Y8b 88""   Yb        88   88 Yb   dP 88 Y88
  88   dP""""Yb 88oodP 88ood8 888888     8bodP' 888888  YboodP   88   88  YbodP  88  Y8
*/


.table-icon-style
{
    color:rgb(185, 185, 185);
}
.table-headings
{
    color:gray;
    font-size: 14px;
}
.table-text
{
    font-size: 14px;
    color: rgb(121, 121, 121);
}


.table2 > tbody, td, tfoot, th, thead, tr {
    padding: 12px !important;
}
.entry-text 
{
    font-size: 14px;
    color: rgb(121, 121, 121);
}